*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
}

:root {
  background-color: #0d1421;
}
body {
  color: white;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
}

button {
  background: none;
  border: none;
  color: #58a6ff;
  cursor: pointer;
  padding: 0;
  font: inherit;
}